# [general]
shell-integration-features = ssh-terminfo,ssh-env
quit-after-last-window-closed = true
scrollback-limit = 100000000
mouse-hide-while-typing = true

# [window]
window-decoration = none
window-padding-x = 5
window-padding-y = 5

# [font]
# font-family = "Source Code Pro for Powerline"
font-family = "SauceCodePro Nerd Font"
# font-thicken = true
font-style = Medium
font-style-bold = Semibold
font-size = 13

# [theme]
theme = Solarized Dark Patched
# theme = iTerm2 Solarized Dark
# theme = Firewatch
# theme = Idea
# theme = Material Darker
# theme = Material Ocean

# [My Solarized]
# background = #002b36
# foreground = #839496
# palette = 0=#073642
# palette = 1=#dc322f
# palette = 2=#859900
# palette = 3=#b58900
# palette = 4=#268bd2
# palette = 5=#d33682
# palette = 6=#2aa198
# palette = 7=#eee8d5
# palette = 8=#002b36
# palette = 9=#cb4b16
# palette = 10=#586e75
# palette = 11=#657b83
# palette = 12=#839496
# palette = 13=#6c71c4
# palette = 14=#93a1a1
# palette = 15=#fdf6e3
